.action-button-active {
    display: initial;
}

.day-container{
    min-height: 80px;
    min-width: 80px;
    border-color: #7b7b7b
}

.display-element {
    display: initial;
}

.no-display-element {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 21px;
}

.hours-label-container{
    -unity-text-align: middle-center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.claude-hours-label {
    -unity-text-align: middle-center;
    font-size: 10px;
    color: #4ec9b0;
}

.main-content {
    min-width: 660px;
    min-height: 560px;
}